<%= require('html-loader!@/common/header/head-common.html') %>
<%= htmlWebpackPlugin.options.title %>
<%= require('html-loader!@/common/header/index.html') %>
<section>
    <div class="w">
        <!-- form组件 -->
        <!-- <%= require('html-loader!@/example/button/index.html') %> -->
        <!-- <%= require('html-loader!@/example/input/index.html') %> -->
        <!-- <%= require('html-loader!@/example/radio/index.html') %> -->
        <!-- <%= require('html-loader!@/example/checkbox/index.html') %> -->
        <!-- <%= require('html-loader!@/example/select/index.html') %> -->
    	<!-- <%= require('html-loader!@/example/cascade/index.html') %> -->
        <!-- <%= require('html-loader!@/example/datepicker/index.html') %> -->
        <!-- <%= require('html-loader!@/example/jeDate/index.html') %> -->
        <!-- <%= require('html-loader!@/example/upload/index.html') %> -->
        <!-- <%= require('html-loader!@/example/selectTile/index.html') %> -->
        <!-- <%= require('html-loader!@/example/form/index.html') %> -->
        <!-- 组件用例 -->
        <!-- <%= require('html-loader!@/example/tab/index.html') %> -->
        <!-- <%= require('html-loader!@/example/slider/index.html') %> -->
        <!-- <%= require('html-loader!@/example/cropper/index.html') %> -->
        <!-- <div id="myChart1" style="width: 400px; height: 400px"></div> -->
        <!-- <div id="myChart2" style="width: 400px; height: 400px"></div> -->
    </div>
</section>
<%= require('html-loader!@/common/footer/index.html') %>